<?xml version="1.0" ?>
<!-- 
/**
 * Copyright © Chris Mallory All rights reserved.
 * See COPYING.txt for license details.
 */ 
 -->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
	<system>
		<tab id="nadeem" translate="label" sortOrder="999">
			<label>Nadeem</label>
		</tab>
		<section id="free_shipping_indicator" sortOrder="10" showInWebsite="1" showInStore="1" showInDefault="1" translate="label">
			<label>Free Shipping Indicator</label>
			<tab>nadeem</tab>
			<resource>Nadeem_FreeShippingIndicator::config_nadeem_freeshippingindicator</resource>
			<group id="general" sortOrder="10" showInWebsite="1" showInStore="1" showInDefault="1" translate="label">
				<label>Indicator Configuration</label>
				<field id="is_enable" type="select" sortOrder="20" showInWebsite="1" showInStore="1" showInDefault="1" translate="label">
					<label>Enable</label>
					<source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
					<comment>Enable Free Shpping Indicator To Show On Cart Page Summery.</comment>
				</field>
				<field id="use_core_freeshipping_config" type="select" sortOrder="30" showInWebsite="1" showInStore="1" showInDefault="1" translate="label">
					<label>Use Core Freeshipping Method Config</label>
					<source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
					<comment>The free shipping progress bar will indicate whether the core free shipping method is available if this setting is set to yes. 
					You can use a custom configuration with the fields that will appear below this field if the value is set to no.</comment>
					<depends>
                        <field id="is_enable">1</field>
                    </depends>
				</field>
				<field id="order_min_total" type="text" sortOrder="40" showInWebsite="1" showInStore="1" showInDefault="1" translate="label">
					<label>Order Minimum Total</label>
					<depends>
                        <field id="is_enable">1</field>
						<field id="use_core_freeshipping_config">0</field>
                    </depends>
				</field>
				<field id="use_order_subtotal" type="select" sortOrder="50" showInWebsite="1" showInStore="1" showInDefault="1" translate="label">
					<label>Use Subtotal</label>
					<source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
					<comment>The grand total will be used if set to no.</comment>
					<depends>
                        <field id="is_enable">1</field>
						<field id="use_core_freeshipping_config">0</field>
                    </depends>
				</field>
				<field id="order_subtotal_includes_discount" type="select" sortOrder="60" showInWebsite="1" showInStore="1" showInDefault="1" translate="label">
					<label>Order Subtotal Includes Discount</label>
					<source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
					<comment>If this option is selected, the minimum order value must exceed the subtotal minus any discounts.</comment>
					<depends>
                        <field id="is_enable">1</field>
						<field id="use_core_freeshipping_config">0</field>
						<field id="use_order_subtotal">1</field>
                    </depends>
				</field>
			</group>

			<group id="customization" sortOrder="20" showInWebsite="1" showInStore="1" showInDefault="1" translate="label">
				<label>Indicator Customization</label>
				<field id="font_size" type="select" sortOrder="10" showInWebsite="1" showInStore="1" showInDefault="1" translate="label">
					<label>Font Size</label>
					<comment></comment>
					<source_model>Nadeem\FreeShippingIndicator\Model\Config\Source\FontSize</source_model>
				</field>
				<field id="text_message" type="textarea" sortOrder="20" showInWebsite="1" showInStore="1" showInDefault="1" translate="label">
					<label>Text Message</label>
					<comment></comment>
				</field>
				<field id="message_text_color" translate="label" sortOrder="30" type="text" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Message Text Color</label>
                    <frontend_model>Nadeem\FreeShippingIndicator\Block\Colorpicker</frontend_model>
					<comment></comment>
                </field>
				<field id="message_background" translate="label" sortOrder="40" type="text" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Message Background</label>
                    <frontend_model>Nadeem\FreeShippingIndicator\Block\Colorpicker</frontend_model>
					<comment></comment>
                </field>
				<field id="progress_bar_color" translate="label" sortOrder="50" type="text" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Progress Bar Color</label>
                    <frontend_model>Nadeem\FreeShippingIndicator\Block\Colorpicker</frontend_model>
					<comment></comment>
                </field>
				<field id="eligible_text_message" type="textarea" sortOrder="60" showInWebsite="1" showInStore="1" showInDefault="1" translate="label">
					<label>Message if Order is Eligible</label>
					<comment></comment>
				</field>
				<field id="custom_css" type="textarea" sortOrder="70" showInWebsite="1" showInStore="1" showInDefault="1" translate="label">
					<label>Custom CSS</label>
					<comment></comment>
				</field>
			</group>
		</section>
	</system>
</config>
